* {
  box-sizing: border-box; /* Set box-sizing to border-box for all elements */
}

body,
footer {
  font-family: "Poppins", sans-serif; /* Set font for body and footer */
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
}

nav {
  display: flex; /* Flex layout for navigation */
  font-weight: bold; /* Bold text */
  justify-content: space-between; /* Space between items */
  align-items: center; /* Center items vertically */
  padding: 4vh 5%; /* Padding for navigation */
  background-color: transparent; /* Transparent background */
  color: white; /* Text color */
  position: fixed; /* Fixed positioning */
  width: 100%; /* Full width */
  z-index: 10; /* Stack above other elements */
  transition: all 0.3s ease; /* Smooth transition */
}

nav .logo {
  color: #e73516; /* Logo color */
  font-size: 24px; /* Logo font size */
}

nav .navigation a {
  color: white; /* Link color */
  text-decoration: none; /* Remove underline */
  margin: 1vh 3vh 1vh 6vh; /* Margin for links */
}

nav .navigation a:hover {
  border-bottom: 2px solid #ffffff; /* Underline on hover */
  text-decoration-color: #e73516; /* Underline color */
}

nav .navigation {
  display: flex; /* Flex layout for navigation items */
  align-items: center; /* Center items vertically */
}

/* Navbar after scrolling */
nav.scrolled {
  background-color: #ffffff; /* Darker background */
  padding: 30px 5%; /* Consistent padding */
  transition: all 0.5s ease; /* Smooth transition */
}

/* Underline when hovered, but only when the nav is scrolled */
nav.scrolled .navigation a:hover {
  border-bottom: 2px solid black; /* Black underline on hover */
}

nav.scrolled .navigation a {
  color: black; /* Change link color to black after scroll */
}

header {
  display: flex; /* Flex layout for header */
  justify-content: space-between; /* Space between items */
  align-items: center; /* Center items vertically */
  height: 100vh; /* Full height */
  padding: 20px 5%; /* Padding for header */
  position: relative; /* Positioning reference */
}

.about-content {
  margin-left: -4vw; /* Adjust margin */
  width: 55%; /* Width for about content */
  padding: 20px; /* Padding */
}

.about-content p {
  margin-left: -1.5vw; /* Adjust margin */
  padding: 3vh; /* Padding */
}

.social-media {
  margin-top: 5vh; /* Space above icons */
}

.social-icon {
  display: inline-flex; /* Inline-flex for centering */
  justify-content: center; /* Center icon */
  align-items: center; /* Center icon vertically */
  margin: 0 2rem; /* Horizontal margin for spacing */
  font-size: 24px; /* Icon size */
  transition: background 0.3s, box-shadow 0.3s; /* Smooth transition */
  border-radius: 50%; /* Round shape */
  padding: 10px; /* Padding for circular effect */
  width: 50px; /* Fixed width */
  height: 50px; /* Fixed height */
  text-decoration: none; /* Remove underline */
  color: #e73516; /* Icon color */
}

.social-icon:hover {
  cursor: pointer; /* Pointer on hover */
  color: #fff; /* Change text color on hover */
  background: #e73516; /* Background color on hover */
  box-shadow: 0 0 0 10px rgba(255, 66, 107, 0.3); /* Shadow on hover */
}

#rightImage {
  width: 50%; /* Right image width */
  height: 100%; /* Full height */
  position: absolute; /* Absolute positioning */
  right: 0; /* Align to right */
  top: 0; /* Align to top */
  bottom: 0; /* Align to bottom */
}

.about-content,
section {
  padding: 5%; /* Padding for sections */
}

.about-content h3 {
  font-size: 25px; /* Heading font size */
}

.about-content p {
  font-size: 16px; /* Paragraph font size */
}

#projects h2,
#contact h2 {
  font-size: 30px; /* Heading font size */
  width: 6%; /* Width for heading */
  border-bottom: 4px solid #e73516; /* Underline */
}

#about h2 {
  font-size: 30px; /* Heading font size */
  width: 4.5%; /* Width for heading */
  border-bottom: 4px solid #e73516; /* Underline */
}

.gallery {
  display: flex; /* Flex layout for gallery */
  flex-wrap: wrap; /* Wrap items */
}

.gallery img {
  margin: 10px; /* Margin for images */
  width: 300px; /* Image width */
  height: auto; /* Automatic height */
  cursor: pointer; /* Pointer on hover */
}

.contact-btn {
  font-size: 18px; /* Button font size */
  font-family: "Poppins", sans-serif; /* Button font */
  font-weight: bold; /* Button font weight */
  color: #e73516; /* Text color */
  background-color: #ffffff; /* Background color */
  border: 3px solid #e73516; /* Button border */
  padding: 5px 40px; /* Button padding */
  cursor: pointer; /* Pointer on hover */
  border-radius: 25px; /* Rounded edges */
  transition: background 0.3s; /* Transition effect */
  width: 100%; /* Full width */
  max-width: 15vw; /* Max width */
}

.contact-btn:hover {
  box-shadow: 0px 10px 30px #e73516c9; /* Shadow on hover */
  cursor: pointer; /* Pointer on hover */
  color: #fff; /* Change text color on hover */
  background: #e73516; /* Change background on hover */
}

.social-icon-2 {
  display: inline-flex; /* Inline-flex for centering */
  justify-content: center; /* Center icon */
  align-items: center; /* Center icon vertically */
  margin: 0 15px; /* Horizontal margin for spacing */
  font-size: 20px; /* Icon size */
  transition: background 0.3s, box-shadow 0.3s; /* Smooth transition */
  border-radius: 50%; /* Round shape */
  padding: 10px; /* Padding for circular effect */
  width: 30px; /* Fixed width */
  height: 30px; /* Fixed height */
  text-decoration: none; /* Remove underline */
  color: #e73516; /* Icon color */
}

.social-icon-2:hover {
  cursor: pointer; /* Pointer on hover */
  color: #fff; /* Change text color on hover */
  background: #e73516; /* Background color on hover */
  box-shadow: 0 0 0 8px rgba(255, 66, 107, 0.3); /* Shadow on hover */
}

/* Contact Section Styles */
#contact {
  padding: 5%; /* Padding for contact section */
}

.contact-container {
  display: flex; /* Flex layout */
  justify-content: space-between; /* Space between elements */
  align-items: flex-start; /* Align items at the start */
  margin-left: -2vw;
  margin-top: 7vh; /* Margin above the contact section */
  gap: 40px; /* Space between the two sections */
}

.contact-info,
.contact-form {
  flex: 1; /* Equal space for both sections */
  min-width: 300px; /* Minimum width for smaller screens */
}

.contact-info {
  font-weight: bold;
  margin-left: 2vw; /* Left margin for alignment */
  padding-right: 20px; /* Right padding */
}

.contact-item {
  display: flex; /* Flex layout for contact items */
  align-items: flex-start; /* Align items at the top */
  margin-bottom: 2vh; /* Space between items */
}

.contact-item i {
  margin-right: 10px; /* Space between icon and text */
  font-size: 1.2em; /* Icon size */
  flex-shrink: 0; /* Prevent icon from shrinking */
}

.contact-item span {
  line-height: 1.5; /* Line height for better readability */
}

/* Form Styles */
.contact-form {
  padding: 0 20px; /* Add some padding */
}

form {
  display: flex; /* Use flexbox for form layout */
  flex-direction: column; /* Stack elements vertically */
  gap: 10px; /* Space between form elements */
}

input[type="text"],
input[type="email"],
textarea {
  border: none; /* Remove default border */
  border-bottom: 2px solid #e73516; /* Underline for inputs */
  padding: 15px; /* Increase padding */
  width: 100%; /* Full width inputs */
  font-family: "Poppins", sans-serif; /* Consistent font */
  outline: none; /* Remove outline */
  font-size: 18px; /* Increase font size */
}

input[type="text"]::placeholder,
input[type="email"]::placeholder,
textarea::placeholder {
  color: black; /* Placeholder color */
  font-weight: bold; /* Bold placeholder text */
}

textarea {
  resize: vertical; /* Allow vertical resizing */
  height: 200px; /* Increased height for textarea */
}

.send-btn {
  font-size: 18px; /* Button font size */
  font-family: "Poppins", sans-serif; /* Consistent font */
  font-weight: bold; /* Button text weight */
  color: #e73516; /* Button text color */
  background-color: #ffffff; /* Button background color */
  border: 3px solid #e73516; /* Button border */
  padding: 5px 40px; /* Button padding */
  cursor: pointer; /* Pointer on hover */
  border-radius: 25px; /* Rounded edges */
  transition: background 0.3s; /* Transition for button */
  width: 30%; /* Full width button */
}

.send-btn:hover {
  box-shadow: 0px 10px 30px #e73516c9; /* Button shadow on hover */
  color: #fff; /* Change text color on hover */
  background: #e73516; /* Change background on hover */
}
footer {
  font-weight: bold;
  text-align: center;
  padding: 6vh 0 8vh 0;
  color: rgb(0, 0, 0);
}

footer p {
  margin: 0.5vh;
}

footer .mischief {
  color: #e73516;
}

/* Responsive Styles */
@media (max-width: 768px) {
  header {
    flex-direction: column;
    height: auto; /* Auto height for mobile */
  }

  .about-content {
    width: 100%; /* Full width on mobile */
    padding: 10px;
  }

  #rightImage {
    width: 100%;
    height: 50vh; /* Adjust height for mobile */
  }
  .contact-container {
    flex-direction: column; /* Stack sections vertically on small screens */
  }

  .contact-info {
    margin-bottom: 20px; /* Add space between info and form */
    padding-right: 0;
  }

  .contact-form button {
    width: 100%; /* Ensure full width button on small screens */
  }
}

@media (max-width: 480px) {
  nav .navigation a {
    margin: 0 10px;
  }

  .about-content h1 {
    font-size: 24px; /* Smaller heading */
  }

  #rightImage {
    height: 40vh; /* Adjust further for small screens */
  }
}
